.item-box {
  display: flex;
  width: 360px;
  max-width: 500px;
  border: solid;
  border: none;
  box-shadow: 0 1px 6px 0 #20212447;
  /* width: 300px; */
  border-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  background: var(--soft-white);
  justify-content: space-between;
  padding: 15px;
}

.item-box p {
  font-weight: 600;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}



.Icon-check:hover {
  cursor: pointer;
  color: #4caf50;

  /* position: absolute;
  left: 12px; */
}
.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  /* position: absolute;
  top: -24px;
  right: 0; */
}
.Icon-delete:hover {
  cursor: pointer;
  color: red;
}